<div class="header-container list">
  <h1><%= @list.name %></h1>
</div>

<div class="main-container">
  <div class="card-container">
    <% @movies.each do |movie| %>
      <div class="movie-card">
        <% mov_info = Movie.find(movie.movie_id) %>
        <img src="https://image.tmdb.org/t/p/original/<%= mov_info.poster_url %>">
        <div class="p-3">
          <h2><%= mov_info.title %></h2>
          <%= mov_info.rating %> ⭐<br>
          <p><%= mov_info.overview %></p>
          <blockquote class="blockquote"><i class="fa-solid fa-quote-left"></i> <%= movie.comment %></blockquote>
          <%= link_to "Delete", bookmark_path(movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "button warning" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button primary" %>
  <%= link_to "Go back", lists_path, class: "button secondary" %>
  <%= link_to "Delete this list", @list, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "button warning" %>
</div>
