<div class="main-container">

  <div class="form-container">
    <h1>New Movie</h1>

    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit "Create bookmark", class: "button primary" %>
    <% end %>

  </div>
  <%= link_to "Go back", lists_path, class: "button secondary" %>
</div>
